main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
}

main > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul {
  list-style-type: none;
}
